## PANDAS ASSIGNMENT

## Task 1
 Write a Pandas program to load the dataframe and get the information from the DataFrame. (Movies_metadata.csv - is the csv file you need to consider for this assignment)

In [4]:
import pandas as pd
df = pd.read_csv('movies_metadata.csv', error_bad_lines=False, warn_bad_lines=False, encoding="ISO-8859-1")
df.head(5)

   adult  ... vote_count
0  False  ...       5415
1  False  ...       2413
2  False  ...         92
3  False  ...         34
4  False  ...        173

[5 rows x 24 columns]

# Task 2
### Perform the below mentioned tasks on movies_metadata.csv dataset


1.   Write a Pandas program to get the details of the third movie in the dataset.
2.  Write a Pandas program to count the number of rows and columns.
3.  Write a Pandas program to get the details of the columns title and genres.
4.  Write a Pandas program to get the details of the movie with title 'Grumpier Old Men.
5.  Write a Pandas program to get the details of  fifth movie.
6.   Write a Pandas program to sort the DataFrame based on release_date. 
7.  Write a Pandas program to access those movies, released after 1995-01-01
8.  Write a Pandas program to sort movies on runtime in descending order.
9.   Write a Pandas program to get those movies whose revenue more than 2 million and spent less than 1 million
10.  Write a Pandas program to get the longest runtime and shortest runtime.
11.  Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes.




DataFrame

In [14]:
#1
df[2:3]

   adult  ... vote_count
2  False  ...         92

[1 rows x 24 columns]

In [15]:
df.iloc[2,:]

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
title                                                     Grumpier Old Men
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: 2, dtype: object

In [11]:
#2
df.shape

(49, 24)

In [17]:
#3
df[['title','genres']]

                             title                                             genres
0                        Toy Story  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1                          Jumanji  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2                 Grumpier Old Men  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3                Waiting to Exhale  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4      Father of the Bride Part II                     [{'id': 35, 'name': 'Comedy'}]
5                             Heat  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6                          Sabrina  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7                     Tom and Huck  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8                     Sudden Death  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9                        GoldenEye  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10          The American President  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11     Dracula: Dead and Loving It  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12                           Balto  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13                           Nixon  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14                Cutthroat Island  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15                          Casino  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16           Sense and Sensibility  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17                      Four Rooms  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18  Ace Ventura: When Nature Calls  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19                     Money Train  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20                      Get Shorty  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21                         Copycat  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22                       Assassins  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23                          Powder  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24               Leaving Las Vegas  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                         Othello                      [{'id': 18, 'name': 'Drama'}]
26                    Now and Then  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27                      Persuasion  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28       The City of Lost Children  [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29                 Dangerous Minds  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
30                  Twelve Monkeys  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
31                Wings of Courage  [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
32                            Babe  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
33                      Carrington  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
34                Dead Man Walking                      [{'id': 18, 'name': 'Drama'}]
35          Across the Sea of Time  [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
36                    It Takes Two  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
37                        Clueless  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
38        Cry, the Beloved Country                      [{'id': 18, 'name': 'Drama'}]
39                     Richard III  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
40                 Dead Presidents  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
41                     Restoration  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
42                   Mortal Kombat  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
43                      To Die For  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
44   How To Make An American Quilt  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
45                           Se7en  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
46                      Pocahontas  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
47           When Night Is Falling  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
48              The Usual Suspects  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

In [20]:
#4
new_df = df.set_index('title')
new_df.loc['Grumpier Old Men']

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: Grumpier Old Men, dtype: object

In [21]:
#5
df.iloc[4,:]

adult                                                                False
belongs_to_collection    {'id': 96871, 'name': 'Father of the Bride Col...
budget                                                                   0
genres                                      [{'id': 35, 'name': 'Comedy'}]
homepage                                                               NaN
id                                                                   11862
imdb_id                                                          tt0113041
original_language                                                       en
original_title                                 Father of the Bride Part II
overview                 Just when George Banks has recovered from his ...
popularity                                                         8.38752
poster_path                               /e64sOI48hQXyru7naBFyssKFxVd.jpg
production_companies     [{'name': 'Sandollar Productions', 'id': 5842}...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-02-10
revenue                                                           76578911
runtime                                                                106
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Just When His World Is Back To Normal... He's ...
title                                          Father of the Bride Part II
video                                                                False
vote_average                                                           5.7
vote_count                                                             173
Name: 4, dtype: object

In [22]:
#6
df.sort_values(by = 'release_date').head()

    adult  ... vote_count
4   False  ...        173
47  False  ...         10
28  False  ...        308
43  False  ...        177
46  False  ...       1509

[5 rows x 24 columns]

In [32]:
#7
df.loc[df["release_date"] > "1995-01-01", :]

    adult  ... vote_count
0   False  ...       5415
1   False  ...       2413
2   False  ...         92
3   False  ...         34
4   False  ...        173
5   False  ...       1886
6   False  ...        141
7   False  ...         45
8   False  ...        174
9   False  ...       1194
10  False  ...        199
11  False  ...        210
12  False  ...        423
13  False  ...         72
14  False  ...        137
15  False  ...       1343
16  False  ...        364
17  False  ...        539
18  False  ...       1128
19  False  ...        224
20  False  ...        305
21  False  ...        199
22  False  ...        394
23  False  ...        143
24  False  ...        365
25  False  ...         33
26  False  ...         91
27  False  ...         36
28  False  ...        308
29  False  ...        249
30  False  ...       2470
31  False  ...          4
32  False  ...        756
33  False  ...         16
34  False  ...        350
35  False  ...          2
36  False  ...        149
37  False  ...        828
38  False  ...         13
39  False  ...         50
40  False  ...         80
41  False  ...         30
42  False  ...        452
43  False  ...        177
44  False  ...         38
45  False  ...       5915
46  False  ...       1509
47  False  ...         10
48  False  ...       3334

[49 rows x 24 columns]

In [33]:
#8
df.sort_values(by = "runtime", ascending = False)

    adult  ... vote_count
13  False  ...         72
15  False  ...       1343
5   False  ...       1886
16  False  ...        364
22  False  ...        394
9   False  ...       1194
30  False  ...       2470
6   False  ...        141
3   False  ...         34
45  False  ...       5915
21  False  ...        199
25  False  ...         33
34  False  ...        350
33  False  ...         16
40  False  ...         80
14  False  ...        137
41  False  ...         30
44  False  ...         38
24  False  ...        365
23  False  ...        143
28  False  ...        308
43  False  ...        177
38  False  ...         13
48  False  ...       3334
4   False  ...        173
8   False  ...        174
10  False  ...        199
20  False  ...        305
1   False  ...       2413
27  False  ...         36
39  False  ...         50
19  False  ...        224
2   False  ...         92
42  False  ...        452
36  False  ...        149
26  False  ...         91
29  False  ...        249
17  False  ...        539
37  False  ...        828
7   False  ...         45
47  False  ...         10
18  False  ...       1128
32  False  ...        756
11  False  ...        210
46  False  ...       1509
0   False  ...       5415
12  False  ...        423
35  False  ...          2
31  False  ...          4

[49 rows x 24 columns]

In [39]:
#9
df.loc[(df['revenue'] > 200000) & (df['budget'] < 1000000)]

    adult  ... vote_count
4   False  ...        173
12  False  ...        423
29  False  ...        249
38  False  ...         13

[4 rows x 24 columns]

In [45]:
#10
new_df = df['runtime']
print(new_df.min())
print(new_df.max())

50.0
192.0

In [50]:
#11
new_df = df[['title','runtime']]
new_df.loc[(new_df['runtime'] > 30) & (new_df['runtime'] < 360)]

                             title  runtime
0                        Toy Story     81.0
1                          Jumanji    104.0
2                 Grumpier Old Men    101.0
3                Waiting to Exhale    127.0
4      Father of the Bride Part II    106.0
5                             Heat    170.0
6                          Sabrina    127.0
7                     Tom and Huck     97.0
8                     Sudden Death    106.0
9                        GoldenEye    130.0
10          The American President    106.0
11     Dracula: Dead and Loving It     88.0
12                           Balto     78.0
13                           Nixon    192.0
14                Cutthroat Island    119.0
15                          Casino    178.0
16           Sense and Sensibility    136.0
17                      Four Rooms     98.0
18  Ace Ventura: When Nature Calls     90.0
19                     Money Train    103.0
20                      Get Shorty    105.0
21                         Copycat    124.0
22                       Assassins    132.0
23                          Powder    111.0
24               Leaving Las Vegas    112.0
25                         Othello    123.0
26                    Now and Then    100.0
27                      Persuasion    104.0
28       The City of Lost Children    108.0
29                 Dangerous Minds     99.0
30                  Twelve Monkeys    129.0
31                Wings of Courage     50.0
32                            Babe     89.0
33                      Carrington    121.0
34                Dead Man Walking    122.0
35          Across the Sea of Time     51.0
36                    It Takes Two    101.0
37                        Clueless     97.0
38        Cry, the Beloved Country    106.0
39                     Richard III    104.0
40                 Dead Presidents    119.0
41                     Restoration    117.0
42                   Mortal Kombat    101.0
43                      To Die For    106.0
44   How To Make An American Quilt    116.0
45                           Se7en    127.0
46                      Pocahontas     81.0
47           When Night Is Falling     96.0
48              The Usual Suspects    106.0